main { background-color: yellow;
    // these height width are they extra for now
    height: 120px;
    width: 200px;
    h1 {color: rgb(180, 222, 89); }
    
    article { background-color: pink;
    aside { color: purple; }
    }

}